/* Main style */

/*
Rules:

    1. BLACK: No style
    2. GREEN: Parent of BLUE has `d-flex flex-column`
    3. BLUE: Element taking remaining space has `flex-1`
    4. RED: Overflow element has `overflow-auto`

    5. Each elements between GREEN & BLUE must have `h-100`
    6. If a BLUE element has another BLUE parent element,
        it must have `overflow-hidden`

    GREEN: `d-flex flex-column`
    BLUE: `flex-1`
    RED: `overflow-auto`
    SPECIAL: `overflow-hidden`
*/

html,
body {
    height: 100%;
}

.flex-1 {
    flex: 1;
}


header,
main,
footer {
    max-width: 1060px;
}

@media (min-height: 800px) {

    header,
    main,
    footer {
        max-width: 1060px;
    }
}

@media (min-height: 1000px) {

    header,
    main,
    footer {
        max-width: 1330px;
    }
}

@media (min-height: 1200px) {

    header,
    main,
    footer {
        max-width: 1600px;
    }
}

@media (min-height: 1400px) {

    header,
    main,
    footer {
        max-width: 1860px;
    }
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 53%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 33%);
    border-radius: 5px;
}


/* XXXL Screen */
@media screen and (min-width: 2000px) {
    .grid-xxl {
        display: grid;
        grid-template-columns: 1fr 2000px 1fr;
    }

    header,
    main,
    footer {
        grid-column: 2;
    }
}


/* Background Prototyping */
.bg-100 {
    background-color: hsl(0, 0%, 95%);
}

.bg-150 {
    background-color: hsl(0, 0%, 90%);
}

.bg-200 {
    background-color: hsl(0, 0%, 85%);
}

.bg-250 {
    background-color: hsl(0, 0%, 80%);
}

.bg-300 {
    background-color: hsl(0, 0%, 75%);
}

.bg-350 {
    background-color: hsl(0, 0%, 70%);
}

.bg-400 {
    background-color: hsl(0, 0%, 65%);
}

.bg-450 {
    background-color: hsl(0, 0%, 60%);
}

.bg-500 {
    background-color: hsl(0, 0%, 55%);
}

.bg-550 {
    background-color: hsl(0, 0%, 50%);
}

.bg-600 {
    background-color: hsl(0, 0%, 45%);
}

.bg-650 {
    background-color: hsl(0, 0%, 40%);
}

.bg-700 {
    background-color: hsl(0, 0%, 35%);
}

.bg-750 {
    background-color: hsl(0, 0%, 30%);
}

.bg-800 {
    background-color: hsl(0, 0%, 25%);
}

.bg-850 {
    background-color: hsl(0, 0%, 20%);
}

.bg-900 {
    background-color: hsl(0, 0%, 15%);
}

.bg-950 {
    background-color: hsl(0, 0%, 10%);
}