/* Commons */

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 53%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 33%);
    border-radius: 5px;
}


/* XXL Screen */
@media screen and (min-width: 2000px) {
    .grid-xxl {
        display: grid;
        grid-template-columns: 1fr 2000px 1fr;
    }

    header,
    main,
    footer {
        grid-column: 2;
    }
}


/* Background Prototyping */
.bg-100 {
    background-color: hsl(0, 0%, 95%);
}

.bg-150 {
    background-color: hsl(0, 0%, 90%);
}

.bg-200 {
    background-color: hsl(0, 0%, 85%);
}

.bg-250 {
    background-color: hsl(0, 0%, 80%);
}

.bg-300 {
    background-color: hsl(0, 0%, 75%);
}

.bg-350 {
    background-color: hsl(0, 0%, 70%);
}

.bg-400 {
    background-color: hsl(0, 0%, 65%);
}

.bg-450 {
    background-color: hsl(0, 0%, 60%);
}

.bg-500 {
    background-color: hsl(0, 0%, 55%);
}

.bg-550 {
    background-color: hsl(0, 0%, 50%);
}

.bg-600 {
    background-color: hsl(0, 0%, 45%);
}

.bg-650 {
    background-color: hsl(0, 0%, 40%);
}

.bg-700 {
    background-color: hsl(0, 0%, 35%);
}

.bg-750 {
    background-color: hsl(0, 0%, 30%);
}

.bg-800 {
    background-color: hsl(0, 0%, 25%);
}

.bg-850 {
    background-color: hsl(0, 0%, 20%);
}

.bg-900 {
    background-color: hsl(0, 0%, 15%);
}

.bg-950 {
    background-color: hsl(0, 0%, 10%);
}